*.pyc
parts/
.installed.cfg
bin/py.test
bin/py.test-2.7
bin/python
downloads/google_appengine_*.zip
eggs/pytz-*-py2.7.egg
eggs/icalendar-*-py2.7.egg
eggs/distribute-*-py2.7.egg
eggs/Chameleon-*-py2.7.egg
eggs/Jinja2-*-py2.7.egg
eggs/Mako-*-py2.7.egg
eggs/MarkupSafe-*-py2.7-*.egg
eggs/PasteDeploy-*-py2.7.egg
eggs/WebOb-*-py2.7.egg
eggs/WebTest-*-py2.7.egg
eggs/cornice-*-py2.7.egg
eggs/cov_core-*-py2.7.egg
eggs/coverage-*-py2.7-*.egg
eggs/py-*-py2.7.egg
eggs/pyramid-*-py2.7.egg
eggs/pytest-*-py2.7.egg
eggs/pytest_cov-*-py2.7.egg
eggs/repoze.lru-*-py2.7.egg
eggs/rod.recipe.appengine-*-py2.7.egg
eggs/simplejson-*-py2.7-*.egg
eggs/translationstring-*-py2.7.egg
eggs/venusian-*-py2.7.egg
eggs/zope.deprecation-*-py2.7.egg
eggs/zope.interface-*-py2.7-*.egg
eggs/zc.recipe.egg-*-py2.7.egg
eggs/zc.buildout-*-py2.7.egg
src/divsieapp/divsieapp.egg-info/
develop-eggs/
bin/appcfg
bin/buildout
bin/devappserver
src/divsieapp/divsieapp/keys.py
