<div>
    <textarea class="card-edit" ng-model="editText"></textarea>
    <div class="card-noedit">
        <span ng-bind="task.content"></span><br/>
        <span ng-repeat="tag in task.tags|orderBy:tag">
                <a href="#">#<span ng-bind="tag"></span></a>
        </span>&nbsp;
    </div>
    <div class="muted" ng-bind="statusText">
    </div>
    <div class="actions btn-group">
        <button type="button" class="btn" ng-click="start(task)"><i class="icon-play pull-left"></i><span class="hidden-phone">Work On</span></button>
        <button type="button" class="btn" ng-click="pause(task)"><i class="icon-pause pull-left"></i><span class="hidden-phone">Pause</span></button>
        <button type="button" class="btn" ng-click="stop(task)"><i class="icon-stop pull-left"></i><span class="hidden-phone">Stop</span></button>
        <button type="button" class="btn"><i class="icon-folder-close pull-left"></i><span class="hidden-phone">Archive</span></button>
        <button type="button" class="btn" ng-click="complete(task)"><i class="icon-check pull-left"></i><span class="hidden-phone">Complete</span></button>
    </div>
</div>
