{% extends "base_page.html" %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="span9 hidden-phone">
            <div id="landing_carousel" class="carousel slide">
                <div class="carousel-inner">
                    <div class="active item">
                        <div class="filler" style="width: 100%; min-height: 569px;">
                        </div>
                        <div class="carousel-caption">
                            <h4>Caption</h4>
                            <p>Lorem ipsum</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="filler2" style="width: 100%; min-height: 569px;">
                        </div>
                        <div class="carousel-caption">
                            <h4>Caption 2</h4>
                            <p>Lorem ipsum</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="filler3" style="width: 100%; min-height: 569px;">
                        </div>
                        <div class="carousel-caption">
                            <h4>Caption 3</h4>
                            <p>Lorem ipsum</p>
                        </div>
                    </div>
                    <!-- <div class="item">…</div>
                    <div class="item">…</div> -->
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#landing_carousel" data-slide="prev">‹</a>
                <a class="carousel-control right" href="#landing_carousel" data-slide="next">›</a>
            </div>
        </div>
        <div class="span3 pagination-centered">
            <div>
            <h1>Divsie</h1>
            <p>
                Divsie is invite-only.
            </p>
            <form action="/request-invite" method="post" id="request_invite">
                <input type="email" placeholder="Your email address..." required autofocus name="email" x-autocompletetype="email">
                <button class="btn btn-large btn-primary" type="submit">Request an invite</button>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
