form#request_invite {
    margin-top: 125px;
}

#nav_menu {
    margin-top: 1px;
    border-top: none;
    border-radius: 0px 0px 6px 6px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

#nav_menu:before {
    display: none;
}

#nav_menu:after {
    display: none;
}

.card {
    display: block;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    border: 1px solid rgba(0,0,0,0.2);
    width: 460px; /* span6 */
    margin-left: 260px; /* offset3 */
    padding: 1em;
    margin-top: 2em;
}
