.filler {
    background-color:#ffffff;
    background-image: -moz-repeating-linear-gradient(45deg, #ffffff, #ddddff 100px,#ffffff 200px);
    background-image: -webkit-repeating-linear-gradient(45deg, #ffffff, #ddddff 100px,#ffffff 200px);
    background-image: -o-repeating-linear-gradient(45deg, #ffffff, #ddddff 100px,#ffffff 200px);
    background-image: -ms-repeating-linear-gradient(45deg, #ffffff, #ddddff 100px,#ffffff 200px);
    background-image: repeating-linear-gradient(45deg, #ffffff, #ddddff 100px,#ffffff 200px)
}

.filler2 {
    background-color:#ffffff;
    background-image: -moz-repeating-linear-gradient(45deg, #ffffff, #f0c2b3 100px,#ffffff 200px);
    background-image: -webkit-repeating-linear-gradient(45deg, #ffffff, #f0c2b3 100px,#ffffff 200px);
    background-image: -o-repeating-linear-gradient(45deg, #ffffff, #f0c2b3 100px,#ffffff 200px);
    background-image: -ms-repeating-linear-gradient(45deg, #ffffff, #f0c2b3 100px,#ffffff 200px);
    background-image: repeating-linear-gradient(45deg, #ffffff, #f0c2b3 100px,#ffffff 200px)
}

.filler3 {
    background-color:#ffffff;
    background-image: -moz-repeating-linear-gradient(45deg, #ffffff, #9dff9d 100px,#ffffff 200px);
    background-image: -webkit-repeating-linear-gradient(45deg, #ffffff, #9dff9d 100px,#ffffff 200px);
    background-image: -o-repeating-linear-gradient(45deg, #ffffff, #9dff9d 100px,#ffffff 200px);
    background-image: -ms-repeating-linear-gradient(45deg, #ffffff, #9dff9d 100px,#ffffff 200px);
    background-image: repeating-linear-gradient(45deg, #ffffff, #9dff9d 100px,#ffffff 200px)
}

form#request_invite {
    margin-top: 125px;
}
